@import '../node_modules/bootstrap/scss/bootstrap';

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 7rem; // Para dejar espacio para el input
  background-color: #f2f2f2;
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.message {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  max-width: 75%;
  line-height: 1.5;
  
  &.user {
    background-color: #0d6efd; // Color azul de Bootstrap
    color: white;
    align-self: flex-end;
    margin-left: auto;
  }
  
  &.bot {
    background-color: #e9ecef;
    color: #212529;
    align-self: flex-start;
  }
}